pre.brilliance_black .sourcerubyrailsembeddedreturnvalueoneline {
   background-color: #1818ED;
}
pre.brilliance_black .l_markup {
   color: #CDCDCD;
}
pre.brilliance_black .line-numbers {
   background-color: #5ED0;
   color: #CCCCCC;
}
pre.brilliance_black .m_quote_block {
   background-color: #2525FA;
}
pre.brilliance_black ._blog_post_email_message {
   background-color: #DCDCDC;
   color: #333333;
}
pre.brilliance_black .l_metaenvironmentlist {
   background-color: #667D;
   color: #1414D2;
}
pre.brilliance_black ._function_declaration {
   background-color: #14CCE;
   color: #999999;
}
pre.brilliance_black ._tag_block_form {
   background-color: #B12ED;
}
pre.brilliance_black ._keyword_operator_arithmetic {
   color: #2136CE;
}
pre.brilliance_black ._tag_meta {
   background-color: #16AE1;
   color: #F800FF;
}
pre.brilliance_black ._html_comment {
   font-style: italic;
}
pre.brilliance_black ._storage {
   color: #7E0080;
}
pre.brilliance_black ._tag_form {
   background-color: #A17E1;
   color: #0086FF;
}
pre.brilliance_black ._metagroupbracesround_js {
}
pre.brilliance_black ._source_embeded_source {
   background-color: #1010E5;
}
pre.brilliance_black .metaclassinstanceconstructor_keywordoperatornew {
   color: #800043;
}
pre.brilliance_black .misc_punctuation {
   font-weight: bold;
   color: #666666;
}
pre.brilliance_black .commentline {
   color: #4C4C4C;
   font-style: italic;
}
pre.brilliance_black ._metabraceerb {
   background-color: #000000;
}
pre.brilliance_black ._xml_tag {
   color: #666666;
}
pre.brilliance_black .supportothermodule {
   background-color: #24AC8;
   color: #FF0000;
}
pre.brilliance_black ._post_header_values {
   background-color: #2525E9;
   color: #803D00;
}
pre.brilliance_black ._inherited_class {
   background-color: #23AC8;
   color: #FF0086;
}
pre.brilliance_black ._variable_punctuation {
   color: #667D;
}
pre.brilliance_black ._function_call {
   color: #782EC1;
}
pre.brilliance_black .sourcerubyrailsembeddedoneline {
   background-color: #B25F9;
}
pre.brilliance_black ._userdefined_constant {
   color: #00FF79;
}
pre.brilliance_black ._function_declaration_parameters {
   color: #9799FF;
}
pre.brilliance_black ._regex_keyword {
}
pre.brilliance_black ._variablelanguagethisjsprototype {
   color: #666666;
}
pre.brilliance_black ._text_string_source {
   color: #999999;
}
pre.brilliance_black .l_metaenddocument {
   background-color: #CCCCCC;
   color: #000000;
}
pre.brilliance_black ._storage_modifier {
   color: #803D00;
}
pre.brilliance_black ._library_variable {
   background-color: #A23E0;
   color: #00FFF8;
}
pre.brilliance_black ._library_constant {
   color: #00FFF8;
}
pre.brilliance_black ._tag_attribute {
   color: #3D3DFA;
}
pre.brilliance_black .latex {
}
pre.brilliance_black .group1 {
   background-color: #0A0A0A;
}
pre.brilliance_black ._text_source {
   background-color: #000000;
   color: #CCCCCC;
}
pre.brilliance_black .l_keywordoperatordelimiter {
   background-color: #667D;
}
pre.brilliance_black ._keyword_control {
   color: #F800FF;
}
pre.brilliance_black .l_metalabelreference {
   background-color: #1919FA;
}
pre.brilliance_black .group10 {
   background-color: #1F1F1F;
}
pre.brilliance_black .group2 {
   background-color: #0E0E0E;
}
pre.brilliance_black .bold_string_quotes {
   font-weight: bold;
   color: #803D00;
}
pre.brilliance_black ._text_string_source_string_source {
}
pre.brilliance_black .l_metagroupbraces {
   color: #1414D2;
}
pre.brilliance_black .l_variableparameterlabel {
   color: #8686FC;
}
pre.brilliance_black . {
   background-color: #FFFFFF;
   color: #E6E6E6;
}
pre.brilliance_black ._global_variable {
   background-color: #A17E1;
   color: #00807C;
}
pre.brilliance_black ._meta_group_assertion_regexp_ {
   background-color: #A25FA;
}
pre.brilliance_black .group11 {
   background-color: #151515;
}
pre.brilliance_black .group3 {
   background-color: #111111;
}
pre.brilliance_black .curly_punctuation {
   font-weight: bold;
   color: #FFFFFF;
}
pre.brilliance_black ._string_regex {
   background-color: #1723C8;
   color: #FFF800;
}
pre.brilliance_black .l_metafootnote {
   background-color: #AAE1;
   color: #9BFB;
}
pre.brilliance_black ._function_call_without_arguments {
   color: #A88FC0;
}
pre.brilliance_black .subtlegradientcom {
   background-color: #FFFFFF;
   text-decoration: underline;
   color: #555555;
}
pre.brilliance_black ._even {
   background-color: #667D;
}
pre.brilliance_black .group4 {
   background-color: #151515;
}
pre.brilliance_black ._tag_block_head {
   background-color: #121212;
}
pre.brilliance_black .l_constantlanguagegeneral {
}
pre.brilliance_black ._class_method {
   color: #FF0086;
}
pre.brilliance_black ._keyword {
}
pre.brilliance_black .group5 {
   background-color: #191919;
}
pre.brilliance_black .textsubversioncommit_metascopechangedfiles {
   background-color: #000000;
   color: #FFFFFF;
}
pre.brilliance_black .l_metaenvironmentlist_2 {
   background-color: #667D;
   color: #1414D2;
}
pre.brilliance_black .m_raw_block {
   background-color: #000000;
   color: #999999;
}
pre.brilliance_black ._tag_block {
   background-color: #1919D7;
   color: #4C4C4C;
}
pre.brilliance_black .group6 {
   background-color: #1C1C1C;
}
pre.brilliance_black .d_diff_delete {
   background-color: #400022;
   color: #FF40A3;
}
pre.brilliance_black ._source_string_interpolated_source {
   background-color: #5564;
   color: #999999;
}
pre.brilliance_black .l_metaenvironmentlist_3 {
   background-color: #000000;
   color: #1414D2;
}
pre.brilliance_black ._string_punctuation {
   color: #803D00;
}
pre.brilliance_black ._entity_name_preprocessor {
   background-color: #2316C8;
}
pre.brilliance_black .group7 {
   background-color: #1F1F1F;
}
pre.brilliance_black ._metasourceembedded {
   background-color: #667D;
   color: #666666;
}
pre.brilliance_black .object_punctuation {
   font-weight: bold;
   color: #0C823B;
}
pre.brilliance_black .comment {
   background-color: #1414D2;
   color: #4C4C4C;
}
pre.brilliance_black .l_entitynamesection {
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_black ._metablockcontentslate_ {
   color: #CCCCCC;
}
pre.brilliance_black .group8 {
   background-color: #212121;
}
pre.brilliance_black .entitynametypevariant {
   color: #00FFF8;
}
pre.brilliance_black ._source {
   background-color: #000000;
}
pre.brilliance_black .l_metaenvironmentlist_4 {
   color: #1414D2;
}
pre.brilliance_black ._meta_assertion {
   color: #0086FF;
}
pre.brilliance_black .m_markup {
   background-color: #1414D2;
   color: #FFF800;
}
pre.brilliance_black ._tag_name {
   color: #5555FB;
}
pre.brilliance_black .group9 {
   background-color: #242424;
}
pre.brilliance_black .l_metaenvironmentlist_5 {
   color: #1414D2;
}
pre.brilliance_black ._tag_doctype {
   background-color: #333333;
   color: #CCCCCC;
}
pre.brilliance_black .l_keywordoperatorbraces {
   color: #666666;
}
pre.brilliance_black .textsubversioncommit {
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_black .l_metaenvironmentlist_6 {
   color: #1414D2;
}
pre.brilliance_black ._function_punctuation {
   font-weight: bold;
   color: #BC80FF;
}
pre.brilliance_black ._tag {
   color: #FF0007;
}
pre.brilliance_black ._id {
   color: #FF0086;
}
pre.brilliance_black ._pseudoclass {
   color: #7900FF;
}
pre.brilliance_black .entitynametag_metarecorddefinition {
   color: #00FF79;
}
pre.brilliance_black .l_variableparameterlabelreference {
   background-color: #400002;
   color: #FFBC80;
}
pre.brilliance_black ._string {
   background-color: #2316C8;
   color: #FFFC80;
}
pre.brilliance_black ._string_punctuation_ii {
   color: #3D3BC8;
}
pre.brilliance_black .m_italic {
   font-style: italic;
}
pre.brilliance_black ._keyword_other {
   color: #7900FF;
}
pre.brilliance_black ._class_name {
   color: #FF0000;
}
pre.brilliance_black .sourcejsembedded {
   background-color: #0D0D0D;
}
pre.brilliance_black ._keyword_operator_logical {
   background-color: #AAE6;
   color: #3759FF;
}
pre.brilliance_black ._instance {
   color: #FF3D44;
}
pre.brilliance_black ._library_classtype {
   background-color: #25AC8;
   color: #FF0000;
}
pre.brilliance_black .array_punctuation {
   font-weight: bold;
   background-color: #1811E0;
   color: #7F5E40;
}
pre.brilliance_black .d_diff_changed {
   background-color: #803D00;
   color: #FFFF55;
}
pre.brilliance_black .comment_punctuation {
}
pre.brilliance_black ._class_variable {
   background-color: #ACFA;
   color: #0086FF;
}
pre.brilliance_black ._tag_value {
   color: #6D6DFB;
}
pre.brilliance_black .metadelimiter {
   font-weight: bold;
   background-color: #FFFA;
   color: #FFFFFF;
}
pre.brilliance_black .metabraceerbreturnvalue {
   background-color: #A23D9;
   color: #00FFAA;
}
pre.brilliance_black ._instanceconstructor {
   background-color: #2410D8;
}
pre.brilliance_black ._normal_variables {
   color: #406180;
}
pre.brilliance_black ._attributematch {
   background-color: #AAE1;
   color: #0008FF;
}
pre.brilliance_black ._variable {
   color: #31A6FF;
}
pre.brilliance_black .syntax {
   color: #333333;
}
pre.brilliance_black ._library_function_call {
   color: #9D3EFF;
}
pre.brilliance_black .l_supportfunction {
   color: #BC80FF;
}
pre.brilliance_black .m_bold {
   font-weight: bold;
}
pre.brilliance_black ._character_constant {
   color: #86FF00;
}
pre.brilliance_black ._supporttypepropertyname {
   background-color: #000000;
   color: #FFFFFF;
}
pre.brilliance_black ._string_unquoted {
   color: #FFBC80;
}
pre.brilliance_black .m_reference_name {
   background-color: #A17E1;
   color: #00FFF8;
}
pre.brilliance_black ._library_function_name {
   background-color: #1D16E1;
   color: #603F80;
}
pre.brilliance_black ._global_predefined_variable {
   background-color: #A23E0;
   color: #00FF79;
}
pre.brilliance_black .l_supportfunctionsection {
   color: #C1C1FD;
}
pre.brilliance_black ._tag_wildcard {
   font-weight: bold;
   color: #FF7900;
}
pre.brilliance_black .entitynametypemodule {
   color: #FF0000;
}
pre.brilliance_black ._selector {
   background-color: #667D;
   color: #666666;
}
pre.brilliance_black ._class {
   color: #F800FF;
}
pre.brilliance_black ._metablockslate_ {
   color: #666666;
}
pre.brilliance_black .metadelimiterobjectjs {
   background-color: #99BB;
}
pre.brilliance_black .string_embedded_source {
   color: #406180;
}
pre.brilliance_black ._number {
   color: #C6FF00;
}
pre.brilliance_black ._metapropertylist {
   font-weight: bold;
   color: #333333;
}
pre.brilliance_black .metabracecurly_metagroup {
   background-color: #667D;
   color: #CCCCCC;
}
pre.brilliance_black ._keyword_operator {
   color: #0000CE;
}
pre.brilliance_black .l_keywordcontrolref {
   background-color: #260001;
   color: #FF0007;
}
pre.brilliance_black ._tag_structure {
   background-color: #292965;
   color: #666666;
}
pre.brilliance_black .m_heading {
   background-color: #202096;
   color: #666666;
}
pre.brilliance_black ._keyword_operator_comparison {
   color: #7C88FF;
}
pre.brilliance_black .m_hr {
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_black ._instance_variable {
   color: #406180;
}
pre.brilliance_black ._builtin_constant {
   background-color: #B23C8;
   color: #07FF00;
}
pre.brilliance_black ._keyword_operator_assignment {
   background-color: #AAE6;
   color: #0000CE;
}
pre.brilliance_black .l_variableparametercite {
   background-color: #400022;
   color: #FFBFE1;
}
pre.brilliance_black ._constant_variable {
   color: #00FFF8;
}
pre.brilliance_black .m_underline {
   text-decoration: underline;
}
pre.brilliance_black .thomas_aylott_ {
   font-weight: bold;
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_black ._function_declaration_parameters_punctuation {
   color: #800004;
}
pre.brilliance_black ._metapropertyname {
   color: #999999;
}
pre.brilliance_black .function_punctuation {
   color: #800043;
}
pre.brilliance_black .metabraceerb {
   background-color: #B25F9;
   color: #00FFF8;
}
pre.brilliance_black .l_markup_raw {
   background-color: #000000;
}
pre.brilliance_black ._text {
   color: #FFFFFF;
}
pre.brilliance_black ._metapropertyvalue {
   background-color: #0D0D0D;
   color: #999999;
}
pre.brilliance_black ._function_call_arguments_punctuation {
   color: #BC80FF;
}
pre.brilliance_black ._string_literal {
   background-color: #1723C8;
   color: #FFF800;
}
pre.brilliance_black .l_keywordcontrolcite {
   background-color: #260014;
   color: #FF0086;
}
pre.brilliance_black ._string_regex_arbitraryrepitition {
   background-color: #1723C8;
   color: #00FFF8;
}
pre.brilliance_black .l_keywordoperatorbrackets {
   color: #999999;
}
pre.brilliance_black ._string_interpolated {
   background-color: #1A1A1A;
   color: #FFFC80;
}
pre.brilliance_black ._post_content {
   background-color: #000000;
   color: #CCCCCC;
}
pre.brilliance_black ._string_regex_group_1 {
   background-color: #1723C8;
}
pre.brilliance_black .m_underline_link {
   text-decoration: underline;
   color: #00FFF8;
}
pre.brilliance_black .invalid {
   font-weight: bold;
   background-color: #FF0007;
   color: #330004;
}
pre.brilliance_black ._css {
}
pre.brilliance_black ._string_regex_group_2 {
   background-color: #1723C8;
   color: #6D6DFB;
}
pre.brilliance_black ._tag_inline {
   background-color: #2316C8;
   color: #FF7900;
}
pre.brilliance_black ._tag_other {
   background-color: #23AC8;
   color: #FF0007;
}
pre.brilliance_black .metabracepipe {
   background-color: #1414D2;
   color: #4C4C4C;
}
pre.brilliance_black ._post_header_keys {
   background-color: #B25F9;
   color: #06403E;
}
pre.brilliance_black ._string_regex_group_3 {
   background-color: #1723C8;
   color: #6D6DFB;
}
pre.brilliance_black .metataginline_source {
   background-color: #2316C8;
}
pre.brilliance_black {
   background-color: #DD12;
   color: #CCCCCC;
}
pre.brilliance_black ._function_declaration_name {
   color: #FF0086;
}
pre.brilliance_black .metadelimiterstatementjs {
   background-color: #333F;
}
pre.brilliance_black .d_diff_add {
   background-color: #00401E;
   color: #40FF9A;
}
pre.brilliance_black ._source_string_source {
   background-color: #202096;
   color: #FFFFFF;
}
pre.brilliance_black ._string_regex_characterclass {
   background-color: #1723C8;
   color: #86FF00;
}
pre.brilliance_black ._string_regex_group_4 {
   background-color: #1723C8;
   color: #6D6DFB;
}
pre.brilliance_black .m_reference {
   color: #0086FF;
}
