pre.brilliance_dull ._metagroupbraces_8 {
   background-color: #212121;
}
pre.brilliance_dull .sourcerubyrailsembeddedreturnvalueoneline {
   background-color: #1919E1;
}
pre.brilliance_dull .line-numbers {
   background-color: #1517A6;
   color: #CCCCCC;
}
pre.brilliance_dull .m_quote_block {
   background-color: #1919FA;
}
pre.brilliance_dull ._metagroupbraces_9 {
   background-color: #242424;
}
pre.brilliance_dull .l_metaenvironmentlist {
   background-color: #007D;
   color: #AAD2;
}
pre.brilliance_dull ._function_declaration {
   color: #A45880;
}
pre.brilliance_dull ._tag_block_form {
   background-color: #46E8;
}
pre.brilliance_dull ._keyword_operator_arithmetic {
   color: #5B6190;
}
pre.brilliance_dull ._tag_meta {
   background-color: #C8D8;
   color: #A358A5;
}
pre.brilliance_dull ._html_comment {
   font-style: italic;
}
pre.brilliance_dull ._storage {
   color: #A57C57;
}
pre.brilliance_dull ._tag_form {
   background-color: #8CD8;
   color: #5780A5;
}
pre.brilliance_dull ._metagroupbracesround_js {
}
pre.brilliance_dull ._source_embeded_source {
   background-color: #55E5;
}
pre.brilliance_dull .misc_punctuation {
   font-weight: bold;
   color: #666666;
}
pre.brilliance_dull ._metabraceerb {
   background-color: #000000;
}
pre.brilliance_dull ._xml_tag {
   color: #666666;
}
pre.brilliance_dull ._inherited_class {
   background-color: #108D0;
   color: #A45880;
}
pre.brilliance_dull ._variable_punctuation {
   color: #007D;
}
pre.brilliance_dull ._function_call {
   color: #765F8C;
}
pre.brilliance_dull .sourcerubyrailsembeddedoneline {
   background-color: #810F1;
}
pre.brilliance_dull ._userdefined_constant {
   color: #58A57C;
}
pre.brilliance_dull ._function_declaration_parameters {
   color: #BABBD9;
}
pre.brilliance_dull ._regex_keyword {
}
pre.brilliance_dull ._variablelanguagethisjsprototype {
   color: #666666;
}
pre.brilliance_dull .metaheadersblog_keywordotherblog {
   background-color: #810F1;
   color: #182A29;
}
pre.brilliance_dull ._text_string_source {
   color: #999999;
}
pre.brilliance_dull .l_metaenddocument {
   background-color: #CCCCCC;
   color: #000000;
}
pre.brilliance_dull ._storage_modifier {
}
pre.brilliance_dull ._library_variable {
   background-color: #810D8;
   color: #57A5A3;
}
pre.brilliance_dull ._library_constant {
   color: #57A5A3;
}
pre.brilliance_dull ._tag_attribute {
   color: #3232FA;
}
pre.brilliance_dull .latex {
}
pre.brilliance_dull ._text_source {
   background-color: #000000;
   color: #CCCCCC;
}
pre.brilliance_dull .l_keywordoperatordelimiter {
   background-color: #007D;
}
pre.brilliance_dull ._keyword_control {
   color: #A358A5;
}
pre.brilliance_dull .l_metalabelreference {
   background-color: #CCFA;
}
pre.brilliance_dull .bold_string_quotes {
   font-weight: bold;
}
pre.brilliance_dull ._text_string_source_string_source {
}
pre.brilliance_dull .l_metagroupbraces {
   color: #AAD2;
}
pre.brilliance_dull .l_variableparameterlabel {
   color: #7F7FFC;
}
pre.brilliance_dull . {
   background-color: #FFFFFF;
   color: #E6E6E6;
}
pre.brilliance_dull ._global_variable {
   background-color: #8CD8;
   color: #2C5251;
}
pre.brilliance_dull ._meta_group_assertion_regexp_ {
   background-color: #1119E9;
}
pre.brilliance_dull .curly_punctuation {
   font-weight: bold;
   color: #FFFFFF;
}
pre.brilliance_dull ._string_regex {
   background-color: #C10D0;
   color: #A5A358;
}
pre.brilliance_dull .l_metafootnote {
   background-color: #88D8;
   color: #1A1AE0;
}
pre.brilliance_dull ._function_call_without_arguments {
   color: #A79EAE;
}
pre.brilliance_dull .subtlegradientcom {
   background-color: #FFFFFF;
   text-decoration: underline;
   color: #555555;
}
pre.brilliance_dull ._tag_block_head {
   background-color: #121212;
}
pre.brilliance_dull .l_constantlanguagegeneral {
}
pre.brilliance_dull ._class_method {
   color: #A45880;
}
pre.brilliance_dull ._keyword {
}
pre.brilliance_dull .textsubversioncommit_metascopechangedfiles {
   background-color: #000000;
   color: #FFFFFF;
}
pre.brilliance_dull .l_metaenvironmentlist_2 {
   background-color: #007D;
   color: #AAD2;
}
pre.brilliance_dull .m_raw_block {
   background-color: #000000;
   color: #999999;
}
pre.brilliance_dull ._tag_block {
   background-color: #FFD7;
   color: #4C4C4C;
}
pre.brilliance_dull .d_diff_delete {
   background-color: #28151F;
   color: #BB82A0;
}
pre.brilliance_dull ._source_string_interpolated_source {
   background-color: #0064;
   color: #999999;
}
pre.brilliance_dull .l_metaenvironmentlist_3 {
   background-color: #000000;
   color: #AAD2;
}
pre.brilliance_dull ._string_punctuation {
}
pre.brilliance_dull ._entity_name_preprocessor {
}
pre.brilliance_dull ._metasourceembedded {
   background-color: #007D;
   color: #666666;
}
pre.brilliance_dull .object_punctuation {
   font-weight: bold;
   color: #345741;
}
pre.brilliance_dull .comment {
   background-color: #AAD2;
   color: #28285B;
}
pre.brilliance_dull .l_entitynamesection {
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_dull ._metablockcontentslate_ {
   color: #CCCCCC;
}
pre.brilliance_dull ._source {
   background-color: #000000;
}
pre.brilliance_dull .l_metaenvironmentlist_4 {
   color: #AAD2;
}
pre.brilliance_dull ._meta_assertion {
   color: #5780A5;
}
pre.brilliance_dull .m_markup {
   background-color: #AAD2;
   color: #A5A358;
}
pre.brilliance_dull ._tag_name {
   color: #4C4CFB;
}
pre.brilliance_dull .l_metaenvironmentlist_5 {
   color: #AAD2;
}
pre.brilliance_dull {
   background-color: #005;
   color: #CCCCCC;
}
pre.brilliance_dull ._tag_doctype {
   background-color: #333333;
   color: #CCCCCC;
}
pre.brilliance_dull .l_keywordoperatorbraces {
   color: #666666;
}
pre.brilliance_dull .textsubversioncommit {
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_dull .l_metaenvironmentlist_6 {
   color: #AAD2;
}
pre.brilliance_dull ._function_punctuation {
   font-weight: bold;
   color: #A358A5;
}
pre.brilliance_dull ._tag {
   color: #A5585A;
}
pre.brilliance_dull ._id {
   color: #A45880;
}
pre.brilliance_dull ._pseudoclass {
   color: #7D58A4;
}
pre.brilliance_dull .l_variableparameterlabelreference {
   background-color: #281516;
   color: #D1BDAB;
}
pre.brilliance_dull ._string {
   color: #D2D191;
}
pre.brilliance_dull ._string_punctuation_ii {
   color: #2020D9;
}
pre.brilliance_dull .m_italic {
   font-style: italic;
}
pre.brilliance_dull ._class_name {
   color: #A5585A;
}
pre.brilliance_dull ._keyword_operator_logical {
   background-color: #AADB;
   color: #7C85B8;
}
pre.brilliance_dull ._instance {
   color: #A5585A;
}
pre.brilliance_dull ._library_classtype {
   background-color: #108D0;
   color: #A5585A;
}
pre.brilliance_dull .array_punctuation {
   font-weight: bold;
   color: #675D54;
}
pre.brilliance_dull .d_diff_changed {
   color: #C2C28F;
}
pre.brilliance_dull .comment_punctuation {
}
pre.brilliance_dull ._class_variable {
   background-color: #1111E9;
   color: #5780A5;
}
pre.brilliance_dull ._tag_value {
   color: #6565FB;
}
pre.brilliance_dull .metadelimiter {
   font-weight: bold;
   background-color: #22FA;
   color: #FFFFFF;
}
pre.brilliance_dull .metabraceerbreturnvalue {
   background-color: #810D5;
   color: #58A58A;
}
pre.brilliance_dull ._instanceconstructor {
   background-color: #108D4;
}
pre.brilliance_dull ._normal_variables {
   color: #555F68;
}
pre.brilliance_dull ._attributematch {
   background-color: #88D8;
   color: #5859A5;
}
pre.brilliance_dull ._variable {
   color: #789BB6;
}
pre.brilliance_dull .syntax {
   color: #333333;
}
pre.brilliance_dull ._library_function_call {
   color: #9D80BA;
}
pre.brilliance_dull .l_supportfunction {
   color: #A358A5;
}
pre.brilliance_dull .m_bold {
   font-weight: bold;
}
pre.brilliance_dull ._character_constant {
   color: #80A557;
}
pre.brilliance_dull ._supporttypepropertyname {
   background-color: #000000;
   color: #FFFFFF;
}
pre.brilliance_dull ._string_unquoted {
   color: #D1BDAB;
}
pre.brilliance_dull .m_reference_name {
   background-color: #8CD8;
   color: #57A5A3;
}
pre.brilliance_dull ._library_function_name {
   background-color: #1210DC;
   color: #5E5368;
}
pre.brilliance_dull ._global_predefined_variable {
   background-color: #810D8;
   color: #58A57C;
}
pre.brilliance_dull .l_supportfunctionsection {
   color: #BEBEFD;
}
pre.brilliance_dull ._tag_wildcard {
   font-weight: bold;
   color: #A57C57;
}
pre.brilliance_dull .metaheadersblog {
   background-color: #FFFFFF;
   color: #666666;
}
pre.brilliance_dull ._selector {
   background-color: #007D;
   color: #666666;
}
pre.brilliance_dull ._class {
   color: #A358A5;
}
pre.brilliance_dull ._metablockslate_ {
   color: #666666;
}
pre.brilliance_dull .metadelimiterobjectjs {
   background-color: #00BB;
}
pre.brilliance_dull .string_embedded_source {
   color: #555F68;
}
pre.brilliance_dull ._number {
   color: #94A558;
}
pre.brilliance_dull ._metapropertylist {
   font-weight: bold;
   color: #333333;
}
pre.brilliance_dull .metabracecurly_metagroup {
   background-color: #007D;
   color: #CCCCCC;
}
pre.brilliance_dull ._keyword_operator {
   color: #5B6190;
}
pre.brilliance_dull .l_keywordcontrolref {
   background-color: #170C0C;
   color: #A5585A;
}
pre.brilliance_dull ._tag_structure {
   background-color: #262665;
   color: #666666;
}
pre.brilliance_dull .m_heading {
   background-color: #191996;
   color: #666666;
}
pre.brilliance_dull ._keyword_operator_comparison {
   color: #A9ACD0;
}
pre.brilliance_dull .m_hr {
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_dull ._instance_variable {
   color: #555F68;
}
pre.brilliance_dull ._builtin_constant {
   background-color: #810D0;
   color: #5AA557;
}
pre.brilliance_dull ._keyword_operator_assignment {
   background-color: #AADB;
   color: #464684;
}
pre.brilliance_dull ._metagroupbraces_1 {
   background-color: #0A0A0A;
}
pre.brilliance_dull ._constant_variable {
   color: #57A5A3;
}
pre.brilliance_dull .l_variableparametercite {
   background-color: #28151F;
   color: #E7D4DF;
}
pre.brilliance_dull .m_underline {
   text-decoration: underline;
}
pre.brilliance_dull .thomas_aylott_ {
   font-weight: bold;
   background-color: #FFFFFF;
   color: #000000;
}
pre.brilliance_dull ._function_declaration_parameters_punctuation {
   color: #512C2C;
}
pre.brilliance_dull ._metapropertyname {
   color: #999999;
}
pre.brilliance_dull ._metagroupbraces_2 {
   background-color: #0E0E0E;
}
pre.brilliance_dull .metabraceerb {
   background-color: #810F1;
   color: #57A5A3;
}
pre.brilliance_dull .l_markup_raw {
   background-color: #000000;
}
pre.brilliance_dull ._metagroupbraces_3 {
   background-color: #111111;
}
pre.brilliance_dull .metaheadersblog_stringunquotedblog {
   background-color: #1313EF;
}
pre.brilliance_dull ._text {
   color: #FFFFFF;
}
pre.brilliance_dull ._metapropertyvalue {
   background-color: #0D0D0D;
   color: #999999;
}
pre.brilliance_dull ._function_call_arguments_punctuation {
   color: #A358A5;
}
pre.brilliance_dull ._string_literal {
   background-color: #C10D0;
   color: #A5A358;
}
pre.brilliance_dull ._metagroupbraces_4 {
   background-color: #151515;
}
pre.brilliance_dull ._string_regex_arbitraryrepitition {
   background-color: #C10D0;
   color: #57A5A3;
}
pre.brilliance_dull .l_keywordoperatorbrackets {
   color: #999999;
}
pre.brilliance_dull .l_keywordcontrolcite {
   background-color: #170C12;
   color: #A45880;
}
pre.brilliance_dull ._string_interpolated {
   background-color: #1A1A1A;
   color: #D1D1AB;
}
pre.brilliance_dull ._metagroupbraces_5 {
   background-color: #191919;
}
pre.brilliance_dull ._string_regex_group_1 {
   background-color: #C10D0;
}
pre.brilliance_dull .m_underline_link {
   text-decoration: underline;
   color: #57A5A3;
}
pre.brilliance_dull .invalid {
   font-weight: bold;
   background-color: #A5585A;
   color: #201111;
}
pre.brilliance_dull ._css {
}
pre.brilliance_dull ._string_regex_group_2 {
   background-color: #C10D0;
   color: #6565FB;
}
pre.brilliance_dull ._tag_inline {
   color: #A57C57;
}
pre.brilliance_dull ._tag_other {
   background-color: #108D0;
   color: #A5585A;
}
pre.brilliance_dull ._metagroupbraces_6 {
   background-color: #1C1C1C;
}
pre.brilliance_dull .metabracepipe {
   background-color: #AAD2;
   color: #4C4C4C;
}
pre.brilliance_dull ._string_regex_group_3 {
   background-color: #C10D0;
   color: #6565FB;
}
pre.brilliance_dull .metataginline_source {
}
pre.brilliance_dull ._function_declaration_name {
}
pre.brilliance_dull ._metagroupbraces_7 {
   background-color: #1F1F1F;
}
pre.brilliance_dull .metadelimiterstatementjs {
   background-color: #003F;
}
pre.brilliance_dull .d_diff_add {
   background-color: #14281D;
   color: #82BB9C;
}
pre.brilliance_dull ._source_string_source {
   background-color: #191996;
   color: #FFFFFF;
}
pre.brilliance_dull ._string_regex_characterclass {
   background-color: #C10D0;
   color: #80A557;
}
pre.brilliance_dull ._string_regex_group_4 {
   background-color: #C10D0;
   color: #6565FB;
}
pre.brilliance_dull .m_reference {
   color: #5780A5;
}
