pre.spacecadet .library_classtype {
}
pre.spacecadet .library_constant {
}
pre.spacecadet .exception {
   color: #893062;
}
pre.spacecadet .invalid {
   background-color: #5F0047;
}
pre.spacecadet .line-numbers {
   background-color: #40002F;
   color: #DDE6CF;
}
pre.spacecadet .variable {
   color: #596380;
}
pre.spacecadet {
   background-color: #0D0D0D;
   color: #DDE6CF;
}
pre.spacecadet .support {
   color: #8A4B66;
}
pre.spacecadet .inherited_class {
   font-style: italic;
}
pre.spacecadet .storage {
   color: #9EBF60;
}
pre.spacecadet .library_variable {
}
pre.spacecadet .constant {
   color: #BF9960;
}
pre.spacecadet .tag_name {
}
pre.spacecadet .tag_attribute {
}
pre.spacecadet .keyword {
   color: #728059;
}
pre.spacecadet .string {
   color: #805978;
}
pre.spacecadet .entity {
   color: #6078BF;
}
pre.spacecadet .comment {
   color: #473C45;
}
