pre.active4d .library_classtype {
   color: #A535AE;
}
pre.active4d .commandmethod {
   font-weight: bold;
   color: #45AE34;
}
pre.active4d .userdefined_constant {
}
pre.active4d .number {
   color: #A8017E;
}
pre.active4d {
   background-color: #FFFFFF;
   color: #000000;
}
pre.active4d .invalid {
   background-color: #990000;
   color: #FFFFFF;
}
pre.active4d .named_constant {
   color: #B7734C;
}
pre.active4d .type_name {
   color: #21439C;
}
pre.active4d .block_comment {
   color: #D33435;
}
pre.active4d .embedded_source {
   background-color: #F4F6FF;
}
pre.active4d .line-numbers {
   background-color: #BAD6FD;
   color: #000000;
}
pre.active4d .diff_header {
   background-color: #656565;
   color: #FFFFFF;
}
pre.active4d .variable {
   font-weight: bold;
   color: #0053FF;
}
pre.active4d .builtin_constant {
   color: #A535AE;
}
pre.active4d .diff_unchanged_line {
   color: #5E5E5E;
}
pre.active4d .diff_inserted_line {
   background-color: #98FF9A;
   color: #000000;
}
pre.active4d .function_argument {
}
pre.active4d .function_name {
   color: #21439C;
}
pre.active4d .inherited_class {
}
pre.active4d .storage {
   color: #FF5600;
}
pre.active4d .interpolated_entity {
   font-weight: bold;
   color: #66CCFF;
}
pre.active4d .line_comment {
   color: #D33535;
}
pre.active4d .plain_xml_text {
   color: #000000;
}
pre.active4d .library_variable {
   color: #A535AE;
}
pre.active4d .tag_container {
   color: #7A7A7A;
}
pre.active4d .operator {
}
pre.active4d .datetime_literal {
   font-weight: bold;
   color: #66CCFF;
}
pre.active4d .diff_line_range {
   background-color: #1B63FF;
   color: #FFFFFF;
}
pre.active4d .tag_name {
   color: #016CFF;
}
pre.active4d .tablefield {
   color: #0BB600;
}
pre.active4d .local_variable {
   font-weight: bold;
   color: #6392FF;
}
pre.active4d .tag_attribute {
   color: #963DFF;
}
pre.active4d .keyword {
   font-weight: bold;
   color: #006699;
}
pre.active4d .string {
   color: #666666;
}
pre.active4d .diff_deleted_line {
   background-color: #FF7880;
   color: #000000;
}
